.GiftcardList {
	text-align: center;
	font-family: Rubik,sans-serif;
	color: #22285e;
	font-size: 20px;
	padding: 20px;
	/*display: grid;
	grid-template-columns: auto auto auto;*/
}

.giftcardGrid {
	display: grid;
	grid-template-columns: 33% 33% 33%;
  	padding: 10px;
}

.searchBar {
	width: 90%;
	padding: 10px;
	margin: 20px;
}